extends ../layout
block styles
	link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/ui-lightness/jquery-ui.css') 
	link(rel='stylesheet', href='/css/vendors/evol.colorpicker.min.css') 
block content
	.toolbar
		+returnLink('/services', __n("Service", 2))
	form.form-horizontal(method='POST')
		input(type='hidden', name='_csrf', value=_csrf)
		.form-group
			label.col-sm-3.control-label(for='title')=__("Title")
			.col-sm-7
				+translateTextBox('title', service.title)
		.form-group
			label.col-sm-3.control-label(for='color')=__("Color")
			.col-sm-7
				input(style='width: 100px' name='color', id='color', value='#{service.color}')
		.form-group.form-buttons
			button.btn.btn.btn-primary(type='submit')
				=__("Save")
block scripts
	script(src='/js/lib/evol.colorpicker.min.js')
	script.
		$(document).ready(function() {
		    $("#color").colorpicker({
				strings: "Colores,Colores base,Color web,Colores,Paleta,Historico"
			});
		});



