extends ../layout

block content
    +pageHeader("Service", 'services', 1)
    table.table.table-condensed
        thead
            tr
                th=__("Title")
                th
        tbody
            if services.length
                each service, i in services
                    tr(style="background-color:" + service.color)
                        td.index
                            i.fa.fa-sort
                            input.id(type='hidden', value=service._id)
                        td= service.title[getLocale()]
                        td
                            +deleteLink('services', service._id)
                            +editLink('services', service._id)
            else 
                tr
                    td.no-message(colspan='3')
                        =__n("NoMessage %%s", "NoMessage %%s", 1, __n("Service", 2))

block scripts
    script.
        var fixHelperModified = function(e, tr) {
                var $originals = tr.children();
                var $helper = tr.clone();
                $helper.children().each(function(index) {
                $(this).width($originals.eq(index).width())
                });
                return $helper;
            },
        updateIndex = function(e, ui) {
            $('#loading').show();
            var urls = [];
            $('td.index', ui.item.parent()).each(function (i) {
                var id = $(this).find('.id').val();
                urls.push('/admin/services/' + id + '/position/' + i + '/update');
            });
            var promises = promisesUrl(urls);
            $.when.apply($, promises).done(function(){
                $('#loading').hide();
            });  
        };

        function promisesUrl(urls){
            var promises = [];
            $.each(urls, function(i, url){
                promises.push($.ajax({url: url,
                    method: 'POST'}));
            });
            return promises;
        }


        $("table tbody").sortable({helper: fixHelperModified, stop: updateIndex}).disableSelection();