.footer.container  
	.navbar.navbar-default
		.navbar-header
			a.navbar-brand(href='/')
				img.lazy-loadable(src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7", data-src="/images/logo.jpg" height="70px", alt="Logo", title="Ebital")
		.row
			.col-sm-7
					.row.col-sm-12.text-center
						span.col-sm-11.footer-text EBITAL ® / Av. P. Blanes Viale 5827 / C.P. 11500 / Telefax.: (+598) 2605 19 40 / Montevideo - Uruguay / www.ebital.com.uy
						span.col-sm-11.legend Éste sitio web es compatible con Firefox o Chrome
			.col-sm-3.certifications
				img.lazy-loadable(src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7", data-src="/images/logo-pie-3.jpg", alt="Certificados", title="Certificados")