+headerLink("", __('Home'))
+headerLink(__('url.company').replace(':companyUrl', __('url.about-us')), __('Company'))
+headerLink(__('url.projects'), __n('Project', 2))
+headerLink(__('url.news'), __n('News', 2))
+headerLink(__('url.clients'), __n('Client', 2))
+headerLink(__('url.contactus'), __('ContactUs'))
+headerLink(__('url.workwithus'), __('WorkWithUs'))