extends ../layout

block content
	#content-banner.carousel.row
		.col-sm-12
			.item-img-about-us
				- var imageId = company.image.filename + '.' + company.image.fileext;
				img.img-project.col-sm-12(src="#{cloudinary.url(imageId)}")
				.about-us-image
					.title
						=__("WeBuildNewHorizons")
	.container.about-us
		+company(company)