extends ../layout

block content
	#content-banner.carousel.row
		.col-sm-12
			.item-img-about-us
				img.img-about-us(data-src=">0:/images/values.jpg")
				.banner-text
					.title.col-sm-5.col-sm-offset-2
						=__("OurValues")
	.row
		.col-sm-12.benfits-container
			ul.benefits.values.col-sm-8.col-sm-offset-2
				li
					=__("TeamWork")
				li
					=__("Commitment")
				li
					=__("Respect")
				li
					=__("Humility")
				li
					=__("Initiative")
				li
					=__("CustomerOrientation")

	.container.about-us
		+company(company)
