extends layout

block content
    #content-banner.carousel.row.hidden-xs
        .col-sm-12
            .item-img-about-us
                img.img-about-us(alt="Sumate al equipo", title="Sumate al equipo", src='/images/sumate-al-equipo.jpg')
    .container.about-us
        .col-xs-12
            h4.title Capital Humano
            p
                | Nos caracterizamos por nuestra habilidad para organizar equipos de personas altamente calificadas, comprometidas y apasionadas, que dan lo mejor de sí en cada trabajo. Aspiramos a ser el empleador de preferencia, para lo cual atraemos y retenemos a los mejores profesionales.
            p
                | Implementamos programas de capacitación permanente, con el objetivo de desarrollar a nuestros colaboradores en lo profesional y en lo personal. Estamos convencidos que el éxito va acompañado de un clima de trabajo positivo y es por ello que realizamos anualmente encuestas de clima organizacional.
                br
                |           Le damos una especial importancia a la seguridad en las obras. Contamos con personal especializado en prevención de accidentes y capacitamos a las personas de manera continua en estos aspectos. A esto se suma una planificación exhaustiva de las actividades y tareas de los proyectos y un monitoreo permanente de indicadores clave, lo que permite actuar en tiempo y forma y así minimizar los accidentes.
            h4.title Envíanos tu currículum
            p
                | Envíanos tu CV para ser parte del equipo de EBITAL
                br
                br
                a.links(href='mailto:capitalhumano@ebital.com.uy')  capitalhumano@ebital.com.uy
            br
