
// Media queries breakpoints
// ------------------------------

// Extra small screen / phone
$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;
$screen-phone:               $screen-xs-min;

// Small screen / tablet
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
$screen-md:                  992px;
$screen-md-min:              $screen-md;
$screen-desktop:             $screen-md-min;

// Large screen / wide desktop
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;
$screen-lg-desktop:          $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

$body-bg:                 #fdfdfd;

$gray-darker:             #222;
$gray-dark:               #333;
$gray:                    #666;
$gray-light:              #999;
$gray-lighter:            #eee;

$gutter-width:            30px;
$text-color:              $gray-dark;
$heading-color:           $gray-darker;

$input-border-color:          #ccc;

$color1: #fecb28;
$color2: #fecb28;
$color3: #f3b62c;
$color4: #f2ac2b;
$color5: #f18f25;
$color6: #f07b23;
$color7: #ed6a24;


$navbar-default-link-active-color: $color7;
$navbar-default-link-hover-color: $color7;  